body {
    margin: 0;
    font-family: monospace;
    background-color: #2B2B29;
    color: white;
    text-align: center;
}

h2 {
    font-size: 20pt;
    font-weight: bold;
}

h3{
    font-size: 18pt;
    font-weight: bold;
}

h4 {
    text-align: left;
}

p, h4 {
    font-size: 14pt;
    margin-left: 25%;
    margin-right: 25%;
}

p {
    line-height: 1.45;
}

.italic {
    font-style: italic;
}
/* HEADER + NAV BAR (please try not to change anything) --------------------------------------------------------------------------------------------------------*/
header {
    width: 100%;
    padding: 5pt;
    color: black;
    background-image: url("https://cdn.discordapp.com/attachments/696928792916131910/716275699991969923/pattern.png");
    text-align: center;
}

h1 {
    font-size: 35pt;
}
nav {
    background: #2B2B29;
    color: white;
    overflow: hidden;
    border-radius: 5pt; /*This gives containers the cool, smooth rounded effect*/
}

nav li {
    list-style: none;
    display: inline-block;
}

nav li a {
    color: white;
    text-decoration: none;
    background: #2B2B29;
    padding: 15pt 25pt;
    display: block;
}



nav li a:hover {
    background: #EDF3F2;
    color: black;
    border-radius: 5pt;
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #2B2B29;
    font-size: 15pt;
    font-weight: bolder;

}

/* DROPDOWN FOR DETAILED DESCRIPTION -----------------------------------------*/

/*The dropdown box positioning*/
.dropdown {
    background-color: #EDF3F2;
    display: inline-block;
    border-radius: 5pt;
}

/*Hiding the dropdown box as default*/
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #EDF3F2;
    min-width: 160pt;
    box-shadow: 0pt 8pt 16pt 0pt rgba(0,0,0,0.2);
    z-index: 1;
}

/*The actual dropdown box/list*/
.dropdown-content ul {
    position: absolute;
    padding: 10pt;
    background-color: #EDF3F2;
    border-radius: 5pt;
}

/*The individual contents within the dropdown*/
.dropdown-content ul a {
    color: black;
    background-color: #EDF3F2;
    border-radius: 5pt;

}

/*Each time a word is hovered over in the dropdown*/
.dropdown-content a:hover {
    background-color: #2B2B29;
    border-radius: 5pt;
    color: white;
}

/*The dropdown box when hovered over*/
.dropdown:hover .dropdown-content {
    display: block;
    background-color: #EDF3F2;
    color: white;
}
/* HEADER + NAV BAR END --------------------------------------------------------------------------------------------------------*/



/* TEAM PROFILE START --------------------------------------------------------------------------------------------------------*/
.teamprofile h1 {
    margin-right: 15%;
    margin-left: 15%;
    margin-top: 5%;
}

.teamprofile h2, h3 {
    text-align: center;
}



.picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200pt;
}

.big {
    font-size: 14pt;
}
/* TEAM PROFILE END --------------------------------------------------------------------------------------------------------*/



/* TOOLS START --------------------------------------------------------------------------------------------------------*/
.toolScript h2 {
    text-align: center;
    margin-top: 10pt;
    margin-bottom: 30pt;
    padding-top: 50pt;
 
}

.toolScript h3 {
    text-align: center;
    margin-top: 10pt;
    margin-bottom: 30pt;
    padding-top: 0pt;
    padding-bottom: 0pt;
}


.toolScript p {
    padding-top: 5pt;
    padding-bottom: 40pt;
    text-decoration: none;
    }

.button {
  background-color:  darkorange; 
  color: white;
  padding: 15px 35px;
  text-align: center;

  font-size: 16px;
  }

/* TOOLS END --------------------------------------------------------------------------------------------------------*/



/* PROJECT DESCRIPTION START --------------------------------------------------------------------------------------------------------*/
.subheading {
    padding-top: 35pt;
}
.para {
    padding-bottom: 20pt;
}
.projectdescription {
    margin-right:15%;
    margin-left: 15%;
    margin-top:5%;
    text-align: center;
}



/* PROJECT DESCRIPTION END --------------------------------------------------------------------------------------------------------*/



/* PROJECT IDEAS START --------------------------------------------------------------------------------------------------------*/

.ProIdeScript p {
    padding: 10pt;
    margin-left:25%;
    margin-right:25%;
}

.ProIdeScript a {
    text-align: center;
}

/* PROJECT IDEAS END --------------------------------------------------------------------------------------------------------*/



/* OVERVIEW START --------------------------------------------------------------------------------------------------------*/
.overscript h2, .overscript h3 {
    text-align: center;
    margin-top: 30pt;
    margin-bottom: 30pt;  
}

.overscript p {
  text-align: left;
  margin-top: 30pt;
  margin-bottom: 30pt;
}

.overview {
    margin-right: 15%;
    margin-left: 15%;
    margin-top: 15%;
}

/* OVERVIEW END --------------------------------------------------------------------------------------------------------*/



/* DETAILED DESCRIPTION START --------------------------------------------------------------------------------------------------------*/

.detScript h2, .detScript h4, .detScript ul {
    text-align: center;
    margin-top: 10pt;
    margin-bottom: 10pt;
}

.detScript ul {
    padding-top: 20pt;
    padding-bottom: 29pt;
    text-decoration: none;
    list-style-type: none;
}

.detScript li {
    padding-left:  21.5%;
    padding-right: 25%;
    padding-top: 12pt;
    padding-bottom: 12pt; 
    text-decoration: none;
    text-align: center;
}

.detScript li a {
    text-decoration: none; /* This removes the Underline for the links */
    color: white;
    font-weight: 500;
    font-size: 15pt
}

.sjlist li {
    text-align: left;
    margin-left: 25%;
    margin-right: 25%;
}

#sjheading {
    text-align: left;
    
}

.risksub {
    text-align: left;
    font-weight: bold;
    font-size: 15pt;
}

.ToolTechList ul li{
    text-align: left;
    margin-top: 5pt;
    margin-left: 25%;
    margin-right: 25%;
    font-size: 12pt;
}

.tftable table th {
    border: 2pt solid #EDF3F2;
    padding: 2pt;
    
}


.tftable table  {
    margin-left: 25%;
    margin-right: 25%;
}

/* DETAILED DESCRIPTION END --------------------------------------------------------------------------------------------------------*/



/* FEEDBACK & GROUP REFLECTION START --------------------------------------------------------------------------------------------------------*/

.groupreflection {
    line-height: 1.6pt;
    text-align: center;
    font-size: 10pt;
}

.grouprefection p, h3 {
    padding: 30pt;
}
/* FEEDBACK & GROUP REFLECTION END --------------------------------------------------------------------------------------------------------*/


    
/* MEETINGS START --------------------------------------------------------------------------------------------------------*/

.meetings {
    margin-right: 30%;
    margin-left: 30%;
    margin-top: 5%;
    text-align: center;
}

.meetings h2 {
    text-align: center;
}

.meetings table {
    margin-left: 25%;
    margin-right: 25%;
}

.meetings td a {
    text-decoration: none; 
    color: white;
    font-weight: 500;
    font-size: 10pt
}

.meetings table th, tr, td {
    border: 2pt solid #EDF3F2;
    padding: 5pt;
    font-size: 15pt;
}

/* MEETINGS END --------------------------------------------------------------------------------------------------------*/



/*FOOTER --------------------------------------------------------------------------------------------------------*/
footer {
    width: 100%;
    color: white;
    font-weight: bold;
    text-align: center;
    margin-top: 30pt;
    margin-bottom: 30pt;
}
